h1{
    text-align: center;
    width: 50%;
    font-weight: 700;
    text-decoration: orange underline wavy 2px;
    letter-spacing: 10px;
    font-size: 60px;
    
}

a{
    text-decoration: none;
}

p{
    line-height: 2;
    font-family: Segoe UI, Arial;
}